

<h3 id="topic_body">

  <%= @topic.body %>
</h3>

<p id="topic_name">
  <b>by:</b>
  <%= @topic.name %>
</p>
<ul>
<li>Topic Created: <%= time_ago_in_words(@topic.created_at) %> ago</li>
<li>Replies: <%= @topic.posts.count %></li>
</ul>
<%= render 'posts/post' %>
<%= render 'posts/form' %>

